
<form [formGroup]="myForm" novalidate>
    <mat-form-field style="width:150px;">
        <input matInput formControlName="testField" class="form-control">
    </mat-form-field>
<div class="example mat-elevation-z8"  formArrayName="rows">
        
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let element;let a = index" [formGroupName]="a"> 

          <mat-form-field style="width:150px;">
              <input matInput formControlName="firstName" class="form-control">
          </mat-form-field>
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element;let a = index" [formGroupName]="a"> 
          <mat-form-field style="width:150px;">
              <input matInput formControlName="lastName" class="form-control">
          </mat-form-field>  
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>delete</th>
        <td mat-cell class="specialcell" *matCellDef="let element;let i = index" [formGroupName]="i">
            <button *ngIf="!undoRow[i].showUndo; else undo" matTooltip="delete"
                (click)="removeRow(i, element.id)" mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
            <ng-template #undo>
                <button color="warn" (click)="undoDelete(i)" mat-button style="min-width: 50px;margin-top: 5px;">undo</button>
            </ng-template>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button mat-button (click)="addRows()" color="primary">Add Row</button>
</div>
</form>
